- if @best_times.include?(@this_time)
  %h1 Top score! 
  %p
    %strong
      Nice keypressing!
- else
  %h1 Oh well... 
  %p
    %strong
      Keep keypressing!

%p
  %strong
    You finished it in 
    = @elapsed_time
    seconds.

- unless @best_times.empty?
  %h1 Best Times (for this code snippet) 
  %ol
    - @best_times.each do |time|
      %li
        = "<strong>" if time==@this_time
        = time.rounded_duration
        = "(#{time.rounded_speed} characters/second)"
        = time.user_name
        = "</strong>" if time==@this_time
      
