%h1 Languages

- if admin?
  %p
    = link_to "+ Add Language", "/languages/new"

- if @languages.nil? or @languages.empty?
  %p There are no languages at this time.
- else
  %ul
  - for language in @languages
    %li
      = link_to "#{language.name}", url(:home, :language => language.name)
      = "(#{language.texts.size}) - #{link_to "Destroy", "/languages/destroy/#{language.id}"}" if admin?
